body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  width: 100%;
}
.navbar-brand {
  padding-top: 15px;
  padding-bottom: 25px
}

.navbar-brand h1 { /* Company name */
  font-family: 'Lora', serif;
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
	color: white;
	text-align: center;
}

#nav-list a:hover {
	background-color: Red;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}


/* Home Page */
#home{
	font-family: 'Lora', serif;
	color:red;
	font-size: 1.5em;
	 font-weight: bold;
	 margin-bottom: 30px;
}
.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color:#f6b319 ;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
	font-family: 'Oxygen', sans-serif;
}
.row > div > article > h3 {
  font-family: 'Lora', serif;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 5;
  line-height: .75;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 15px;
      height: 80px;
  }
  .navbar-brand h1 { /* Compant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
 .navbar-header button.navbar-toggle {
  margin-top: 15px;
  margin-bottom: 25px;
 
}
}
   #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End of Header */

  .row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}
